# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Local files
*.local

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Windows
Thumbs.db